:root {
  --general-text: #212121;
  --second-text: #ffffff;
  --blue-text: #2196f3;
  --grey-text: #757575;
  --nav-grey-text: rgba(255, 255, 255, 0.6);
  --background-dark: #2f303a;
  --background-white: #f5f4fa;
  --background-button: #188ce8;
  --background-body: #ffffff;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--general-text);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--background-body);
}
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--general-text);
  text-decoration: none;
}
.web {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--blue-text);
}
.marka {
  list-style-type: none;
}
.marka-two {
  list-style-type: none;
}
.nav-sites {
  line-height: 1.1;
  font-weight: 500;
  color: var(--blue-text);
  text-decoration: none;
}
.nav-site {
  font-weight: 500;
  line-height: 1.1;
  color: var(--general-text);
  text-decoration: none;
}
.nav-site:hover,
.nav-site:focus {
  color: var(--blue-text);
}
.nav-adm-head {
  color: var(--grey-text);
  font-weight: 500;
  line-height: 1.1;
  text-decoration: none;
}
.nav-adm {
  color: var(--nav-grey-text);
  font-weight: 500;
  line-height: 1.1;
  text-decoration: none;
  font-style: normal;
}
.nav-adm-head:hover,
.nav-adm-head:focus {
  color: var(--blue-text);
}
.nav-adm:hover,
.nav-adm:focus {
  color: var(--blue-text);
}
.section {
  background: var(--background-dark);
}
.section-talk {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: var(--second-text);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.section-button:hover,
.section-button:focus {
  background: var(--background-button);
}
.section-button {
  background: var(--blue-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.butt {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  color: var(--second-text);
  letter-spacing: 0.06em;
}
.special h2 {
  font-weight: bold;
  line-height: 1.1;
  color: var(--general-text);
  text-transform: uppercase;
}
.special p {
  line-height: 1.7;
  color: var(--grey-text);
}

.workday h2 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  color: var(--general-text);
}
.teamwork {
  background: var(--background-white);
}
.teamwork h2 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  color: var(--general-text);
}
.teamwork h3 {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--general-text);
}
.teamwork p {
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  color: var(--grey-text);
}

.footer {
  background: var(--background-dark);
}

.marka p {
  line-height: 1.7;
  color: var(--grey-text);
}

.logo-two {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--second-text);
  text-decoration: none;
}

.web-two {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--blue-text);
  text-decoration: none;
}
.button-all,
.button-site,
.button-app,
.button-design,
.button-market {
  background: var(--background-white);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.button-all:hover,
.button-site:hover,
.button-app:hover,
.button-design:hover,
.button-market:hover,
.button-all:focus,
.button-site:focus,
.button-app:focus,
.button-design:focus,
.button-market:focus {
  background: var(--blue-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--second-text);
}

.button-all {
  background: var(--blue-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--second-text);
}
.site-photo a {
  text-decoration: none;
}
.site-photo {
  list-style-type: none;
}
.site-photo h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--general-text);
}
.site-photo p {
  font-size: 16px;
  line-height: 1.9;
  color: var(--grey-text);
}

.addres p {
  font-style: normal;
  line-height: 1.7;
  color: var(--second-text);
}
