body {
  font-family: roboto;
  color: #212121;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #212121;
  text-decoration: none;
}
.web {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.marka {
  list-style-type: none;
}
.marka-two {
  list-style-type: none;
}
.nav-sites {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #2196f3;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.nav-site {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.nav-site:hover,
.nav-site:focus {
  color: #2196f3;
}
.nav-adm {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}
.nav-adm:hover,
.nav-adm:focus {
  color: #2196f3;
}
.section {
  background: #2f303a;
}
.section-talk {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.butt {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  letter-spacing: 0.06em;
}
.special h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.special p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

.workday h2 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
}
.teamwork h2 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
}
.teamwork h3 {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
}
.teamwork p {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}

.footer {
  background: #2f303a;
}

.address p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.logo-two {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.web-two {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.button-all,
.button-site,
.button-app,
.button-design,
.button-market {
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.button-all:hover,
.button-site:hover,
.button-app:hover,
.button-design:hover,
.button-market:hover,
.button-all:focus,
.button-site:focus,
.button-app:focus,
.button-design:focus,
.button-market:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}

.button-all {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}
.site-photo {
  list-style-type: none;
}
.site-photo h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
}
.site-photo p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
